</main>
<footer class="bg-neutral mt-auto border-t-1 border-t-gray-500">
    <div class="container mx-auto px-3 flex gap-4 flex-col py-6">
        <address class="flex flex-row justify-around items-center">
            <img src="../../public/logo.svg" alt="logo">
            <nav class="flex flex-row gap-4">
                <a href="index.html" class="hidden xl:inline text-stone-400 hover:text-cyan">home</a>
                <a href="@media.html" class="hidden xl:inline text-stone-400 hover:text-cyan cursor-not-allowed">@media</a>
                <a href="animation.html" class="hidden xl:inline text-stone-400 hover:text-cyan cursor-not-allowed">animation</a>
                <a href="BEM.html" class="hidden xl:inline text-stone-400 hover:text-cyan cursor-not-allowed">BEM</a>
                <a href="box-sizing.html" class="hidden xl:inline text-stone-400 hover:text-cyan">box-sizing</a>
                <a href="flex-box.html" class="hidden xl:inline text-stone-400 hover:text-cyan cursor-not-allowed">flex-box</a>
                <a href="fonts.html" class="hidden xl:inline text-stone-400 hover:text-cyan">fonts</a>
                <a href="nth-child.html" class="hidden xl:inline text-stone-400 hover:text-cyan cursor-not-allowed">nth-child</a>
                <a href="position.html" class="hidden xl:inline text-stone-400 hover:text-cyan cursor-not-allowed">position</a>
                <a href="selector.html" class="hidden xl:inline text-stone-400 hover:text-cyan cursor-not-allowed">selector</a>
                <a href="space.html" class="hidden xl:inline text-stone-400 hover:text-cyan cursor-not-allowed">space</a>
                <a href="table.html" class="hidden xl:inline text-stone-400 hover:text-cyan cursor-not-allowed">table</a>
            </nav>
            <div class="flex flex-row gap-4">
                <a href="https://t.me/kiriwllqx" target="_blank">
                    <img src="../../public/telegram-logo.svg" class="h-12 w-12" alt="Telegram">
                </a>
                <a href="https://github.com/sKirillDev" target="_blank">
                    <img src="../../public/github-logo.svg" class="h-12 w-12" alt="GitHub">
                </a>
            </div>
        </address>
        <hr class="w-full border-gray-500">
    </div>
</footer>
<script type="module" src="/src/main.js"></script>